<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<packageSources>
		<add key="public" value="https://api.nuget.org/v3/index.json" />
		<add key="adl" value="https://gitlab.com/api/v4/projects/33679966/packages/nuget/index.json" />
	</packageSources>

	<packageSourceCredentials>
		<adl>
			<add key="Username" value="adl-nugets-admin" />
			<add key="ClearTextPassword" value="CV8bciwG8bufv3j49pPG" />
		</adl>
	</packageSourceCredentials>
</configuration>